.team {
  margin-top: 51px;

  &__title {
    margin-bottom: 40px;
    text-align: center;

    h3,
    h2 {
      padding: 0;
      margin: 0;
    }
  }

  &__slider {
    height: 300px;
    overflow: hidden;
  }
}

@media (max-width: 1200px) {
  .team {
    &__slider {
      #mycarousel {
        .jcarousel-container,
        .jcarousel-clip {
          //width: 100%;
        }

        .jcarousel-next {
          //right: 0;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .team {
    &__slider {
      div {
        .jcarousel-container,
        .jcarousel-clip {
          width: 100%;
        }

        .jcarousel-next {
          right: 0;
        }

        li.jcarousel-item {
         margin-left: -7px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .team {
    &__slider {
      div {
        li.jcarousel-item {
          width: auto;
          padding: 0 60px;
          margin-left: -5px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .team {
    &__slider {
      div {
        li.jcarousel-item {
          width: auto;
          width: 250px;
          height: 250px;
          padding: 0 10px;
          margin-left: 0;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
