$main: #000000;
$white: #ffffff;
$black: #000000;
$blue: #1bb7ee;
$blueLight: #acedf8;
$blueBackground: #76d4f5;
$blueLinkHover: #2a6496;
$blueLink: #428bca;
$gray: #bfbfbf;
$grayDark: #333333;
$grayYellow: #ccc;
$grayBackground: #f2f2f2;