.menu-oneline {
  position: relative;
  width: 100%;
  margin-top: 54px;
  border-top: 1px solid $gray;

  ul {
    display: flex;
    justify-content: center;
    margin: 0;

    li {
      position: relative;

      a {
        display: inline-block;
        padding: 27px 9px 27px 10px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover > .menu-oneline__sub-menu {
        display: block;
        opacity: 1;
      }
    }

    // SUB MENU
    .menu-oneline__sub-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      display: none;
      min-width: 250px;
      padding: 0 10px 10px 10px;
      background-color: $white;
      border-right: 1px solid $blue;
      border-bottom: 1px solid $blue;
      border-left: 1px solid $blue;
      outline: 0;
      opacity: 0;
      transition: opacity 300ms ease-in-out;

      li {
        display: inline-block;
        width: 100%;
        padding: 0;
        margin: 0;
      }

      a {
        display: inline-block;
        padding: 10px;
        font-size: 1.3rem;
        text-align: left;
      }
    }
  }

  &::after {
    position: absolute;
    right: 14px;
    bottom: 0;
    left: 14px;
    height: 0;
    content: '';
    border-top: 1px solid $gray;
  }
}

.menu-oneline_footer {
  ul {

    li {

      a {
        padding: 27px 12px 17px 11px;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }

      &:hover > .menu-oneline__sub-menu {
        display: none;
        opacity: 0;
      }
    }
  }

  &::after {
    display: none;
  }
}

@media (max-width: 992px) {
  .menu-oneline {
    &__sub-menu {
      li {
        a {
          padding: 5px;
        }
      }
    }

    ul {
      flex-wrap: wrap;

      li {
        position: relative;

        a {
          padding: 27px 5px 27px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .menu-oneline {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 576px) {
  .menu-oneline {
    ul {
      li {
        width: 150px;
        text-align: center;

        &:hover > .menu-oneline__sub-menu {
          display: none;
          opacity: 0;
        }
      }
    }
  }
}
